*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    overflow: hidden; /* Voorkomt scrollen */
}

h1  {
    color: white;
    font-size: 3rem;
    margin-top: 20px;
}

p {
    color: white;
    font-size: 1.2rem;
    margin-top: 10px;
    font-weight: 100;

}




header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
    overflow: hidden;
}

.header h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: 300;
}

nav{
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-left: -5%;
    z-index: 999;

}

nav a {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    text-decoration: wavy;
    color: #ffffff;
    position: relative;
    
}

nav a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: #e0e5e7;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

nav a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.btn-signin {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 0.8rem 2rem;
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
    align-items: left;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    font-weight: 500;
}

.btn-signin:hover {
    background-color: #4448b8;
    transition: background-color 0.3s ease;
    color: #ffffff;
    scale: 1.1 ;
    transition: 0.5s ease;	
}

h1:hover {
    color: #4448b8;
    transition: color 0.3s ease;
    scale: 1.1 ;
    transition: 0.5s ease;	
}



main {
    display: flex;
    flex-direction: column;
    text-align: left;
    
}

.content{
    max-width: 40rem;
    margin-left: 7%;
    z-index: 999;
    text-align: left;
    transform: translateY(50%);
}

.contact{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    font-size: 300;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-family: 'Roboto', sans-serif;
}

.seemore{
    background-color: #2d48e5;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    font-size: 300;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-family: 'Roboto', sans-serif;
}

.seemore:hover {
    background-color: #5d2cff;
    transition: background-color 0.3s ease;
    color: #ffffff;
    scale: 1.1 ;
    transition:  0.5s ease;
}

.contact:hover {
    background-color: #bfbfbf;
    transition: background-color 0.3s ease;
    color: #0c0c0c;
    scale: 1.1 ;
    transition:  0.5s ease;
}

.buttons {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

a {
    text-decoration: none;
    color: #000000;
}












.robot-3d {
    position: absolute;
    top: 0px;
    right: -25%;
    transform: scale(0.7); /* Gebruik transform in plaats van scale */
}


.robot-3d .robot {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(-50%, -50%);
}

.img-gradient {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.5;
    z-index: -100;
}

img[alt="img-gradient"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 70%;
    z-index: -1; /* Zorgt ervoor dat het achter andere elementen staat */
}

.layer-blur {
    height: 0;
    width: 30rem;
    position: absolute;
    top: 20px;
    right: 0px;
    box-shadow: 0 0 700px 15px white;
    rotate: 30deg;
}